@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,300;1,600;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background: #c8e8e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.2);
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .content .left-side{
    width: 25%;
    height: 100%;
    margin-top: 15px;
    position: relative;
}
.content .left-side ::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50% );
    background: #afafb6
}
.content .left-side .details{
    margin-left:14px;
    text-align: center;
}
.content .left-side .details i{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;

}
.content .left-side .details .topic{
    font-size:19px ;
    font-weight: 600;
   
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
}

.container .content .right-side{
    width: 75%;
    margin-left:75px
}
.content .right-side .topic-text{
    font-size: 25px;
    font-weight: 600;
    color: #3e2093;
 
}
.right-side  .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;

}

.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight:600 ;
    border-radius: 6px;
    padding:0 15px ;
    background: #F0F1F8;
    resize: none;

}
.right-side  .message-box{
    min-height: 110px;
    margin-top:6px ;
    
}
.right-side .button {
    margin-top: 6px;
}
.right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    background: #3e2093;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    transition: all 0.3s ease;
    cursor: pointer;


}
.right-side .button input[type="button"]:hover{
    background: #5029bc;

    }


