@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,300;1,600;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #1abc9c;
    overflow: hidden;

}
.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;


}
.box{
    width:100%;
    background: #fff;
    border-radius: 5px;
}
.box .tittle{
    line-height: 80px;
    background: #16a085;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size :1.4rem;
    font-weight: 600;
    color: #fff;
}
.box form{
    padding: 30px 20px 25px 25px;

}
.box form .row{
    height: 45px;
    background-color: #ff0000;
    margin-bottom: 15px;
    position: relative;

}
.box form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 3px;
    border: 1px solid lightgray;
    transition: all 0.3s ease;
    

}
.box form .row input:focus{
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}
.box form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    background: #16a085;
    border: 1px solid  #16a085;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-size: 16px;
}
.box form .button input{
    padding-left: 0px;
    font-size: 18px;
    font-weight: 600px;   background-color: #16a085;
    color: #fff;
    border: 1px solid #16a085;
    cursor: pointer;
}
form .button input:hover{
    background-color: #12876f;
}
.box form .pass{
    margin: 10px 0 20px 0;
   
}

.box form .pass a{
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}
.box form .pass a:hover{
    text-decoration: underline;
}
.box form .signup-link{
    text-align: center;
    margin: 20px;
   
}

.box form .signup-link a{
    color: #16a085;
    font-size: 18px;
    text-decoration: none;
}
.box form .signup-link a:hover{

    text-decoration: underline;
}